<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout/sitelayout">
<head>
    <title>Exception Details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script></script>
</head>
<body>
<div class="container-fluid" layout:fragment="content">

    <div class="row">
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-8">
            <h1>Exception Message: </h1>
            <pre th:text="${exception_message}"></pre>
        </div>
        <div class="col-xs-2">
            &nbsp;
        </div>
    </div>
</div>
</body>
</html>
