<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/sitelayout">
<head>
    <title>Authcode sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid" layout:fragment="content">

    <div class="row">
        <div class="col-sm-2">
            &nbsp;
        </div>
        <div class="col-sm-8">
            <h2>Access Token of the Logged In User</h2>
            <pre th:text="${access_token}"></pre>
        </div>

        <div class="col-sm-2">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            &nbsp;
        </div>
        <div class="col-sm-8">
            <h2>Things to try:</h2>
            <ul>
                <li>
                    <a target="uaa" th:href="|${ssoServiceUrl}/profile|">See Profile</a>
                </li>
                <li>
                    <a th:href="@{/userlogout}">Log out</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            &nbsp;
        </div>
    </div>
</div>
</body>
</html>
