<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/sitelayout}">
<head>
    <title>Spring Security - OAuth 2.0 Login</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h2>OAuth 2.0 Spring Security Native</h2>
    <div>&nbsp;</div>
    <div>
        <a href="/secured/userinfo" th:href="@{/secured/userinfo}">Display User Info</a>
    </div>
</div>
</body>
</html>
